.container {
  /* min-height: 100vh;
  height: 100vh; */
}

.header {
  background-image: url('/cover-momitfm.png');
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  position: relative;
}

.header_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.title {
  font-size: 2.4rem;
}

.title,
.description {
  position: relative;
  text-align: center;
  color: white;
}

.description {
  font-size: 1rem;
  padding: 0 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem 4rem;  
}

.main article {
  margin-bottom: 2rem;
}

.main a {
  text-decoration: underline;
}

.main_date {
  color: #635f5a;
}

.main_audio {
  width: 100%;
}

.main_description {
  width: 100%;
  margin: 2rem 0;
  line-height: 1.5;  
}

.detail_date {
  color: #635f5a;
  margin-bottom: 2rem;
}

.footer {
  border-top: 1px solid #eaeaea;  
  background-color: #e6e5da;
  padding-bottom: 1rem;  
  font-size: 0.9rem;
}

.footer_inner {
  display: flex;
}

.footer_section {
  width: 100%;
  padding: 1rem;
}

.footer_subscribe_icon {
  width: 0.8rem;
  vertical-align: text-bottom;
}

.footer h2 {
  font-size: 1.2rem;
}

.footer span {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  line-height: 1.2rem;
}

.footer a {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .main {
    margin: 1rem 2rem;
  }
  .footer_inner {
    flex-direction: column;
  }
  .footer_section {
    padding: 0 1rem;
  }  
}
